Use "5_realtor_data.csv" to answer the following questions  
The data file should be saved in the project folder  
Review the code we have learned in class when completing these questions

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df= pd.read_csv("5_realtor_data.csv") 
df.head()

,Home Type,Zip,Listing Price,Baths,Beds,SQFT,Year Built,Airbnb Cash on Cash
0,Single Family Residential,61822,685000,5.0,3,2840.0,2010.0,0.834059
1,Single Family Residential,61822,349900,3.0,4,1926.0,2016.0,1.349840
2,Townhouse,61822,194900,3.0,3,1600.0,2017.0,8.629820
3,Single Family Residential,61820,126900,2.0,3,1330.0,1959.0,14.517200
4,Single Family Residential,61822,369900,4.0,4,2336.0,2006.0,1.116810

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Home Type            296 non-null    object
 1   Zip                  296 non-null    int64
 2   Listing Price        296 non-null    int64
 3   Baths                294 non-null    float64
 4   Beds                 296 non-null    int64
 5   SQFT                 294 non-null    float64
 6   Year Built           273 non-null    float64
 7   Airbnb Cash on Cash  296 non-null    float64
dtypes: float64(4), int64(3), object(1)
memory usage: 18.6+ KB

In [ ]:
# Convert Zip to categorical
df['Zip'] = df['Zip'].astype('category')

# Convert Baths to categorical
# First convert to string to preserve decimal values like 1.5 baths
df['Baths'] = df['Baths'].astype(str).astype('category')

# Convert Beds to categorical
df['Beds'] = df['Beds'].astype('category')

In [ ]:
df.info()

1.	Present summary statistics for all the numeric variables (min, max, mean, standard deviation).

2.	How many listings are there for each "Home Type"?

3.	What are the  average and standard deviation of listing prices by zipcode? (use groupby method)

4. Present histograms of listing price

5. How many 1,2,3,and 4 bedroom houses are listed in each Zip? (Crosstab)

6. Present scatter plot for two variables, and briefly summarize what information you can learn from the plot

7. (Open-Ended Analysis) As a data analyst helping a client select a property for Airbnb investment,   
develop a data-driven search strategy. Use the available dataset to:  

    Analyze relationships between property characteristics and potential returns  
    Provide recommendations backed by statistical analysis  
    Include visualizations and statistical evidence to support your recommendations.